<div id = "estimate">
<h> ESTIMATE </h>
{{#portfolio_margin}}
    <div>Initial Margin: {{initial_margin}}</div>
    <div>Liqudation group: {{liquidation_group}}</div>
    <div>Liqudation group split: {{liquidation_group_split}}</div>
    <div>liquidity addon: {{liquidity_addon}}</div>
    <div>liquidation option credit {{long_option_credit}}</div>
    <div>Market risk: {{market_risk}}</div>
{{/portfolio_margin}}
</div>
