<div id="product_list">
    <h>Product List</h>
    {{#products}}
    <div class = "product_item" id = {{product}} data-product-id = {{product}} data-instrument-type = {{instrument_type}}>{{product}}</div>
    {{/products}}
</div>